@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.avatar {
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info {
    display: flex;
    margin-bottom: 20px;
}
.info img {
    height: 248.22px;
    width: 200px;
    display: block;
    margin: auto;
}
.info p {
    color: #86898f;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}
@media (max-width: 700px) {
    .info {
        text-align: center;
        display: block;
    }
}

.info-text {
    margin-left: 40px;
    overflow: auto;
}
.info-text h4 {
    margin-bottom: 10px;
}
@media (max-width: 400px), (max-width: 700px) {
    .info-text {
        margin-left: 0;
    }
}
.info-text p {
    margin-bottom: 10px;
}
.info-text .instagram:hover {
    color: pink;
}
.info-text .telegram:hover {
    color: #6e6ef3;
}

.card {
    transition: all 1s ease-in-out;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: auto;
}
.card h2 {
    padding: 0 20px;
    margin-bottom: 10px;
}
@media (max-width: 767.98px) {
    .card h2 {
        text-align: center;
        display: block;
    }
}

.first_block {
    background: #f2fea1;
}
.first_block p {
    padding: 0 20px;
}
.first_block p:hover {
    color: #4a659f;
}
@media (max-width: 767px) {
    .first_block p {
        text-align: center;
    }
}

td {
    transition-duration: 0.3s;
}
td:first-child {
    padding-left: 20px;
}
td:nth-child(2), td:nth-child(3) {
    color: #86898f;
}
td:hover {
    color: #4a659f;
}

tr {
    color: #0f141e;
    transition-duration: 1s;
}
tr:hover {
    background-color: #bac5c1;
}
@media (max-width: 750px) {
    tr {
        margin-bottom: 15px;
    }
}

.second_block {
    background: #d4e69f;
}
.second_block table {
    width: 100%;
    margin-bottom: 10px;
    border-spacing: 0 15px;
}

.third_block {
    background: #98c388;
}
.third_block table {
    width: 100%;
    margin-bottom: 10px;
    border-spacing: 0 15px;
}

.contact {
    padding: 15px 20px;
}
.contact h2 {
    text-align: left;
}
@media (max-width: 767.98px) {
    .contact h2 {
        text-align: center;
        display: block;
    }
}
.contact .form-group label {
    display: block;
    font-size: 14px;
    color: #86898f;
}
.contact .form-group input, .contact .form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}
.contact .form-group input::placeholder, .contact .form-group textarea::placeholder {
    opacity: 0.3;
}
.contact .row {
    display: flex;
    margin-bottom: 20px;
}
.contact .row .form-group {
    width: 50%;
    margin-right: 20px;
}
.contact .row .form-group:last-child {
    margin-right: 0;
}
.contact .btn {
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    transition-duration: 0.8s;
    background: #414141;
    border-radius: 10px;
    padding: 15px 20px;
    color: #fff;
    border: none;
    font-family: inherit;
    cursor: pointer;
}
.contact .btn:hover {
    opacity: 0.8;
}

.fifth_block {
    background: #c1f4e6;
}
.fifth_block ol {
    display: flex;
    flex-wrap: wrap;
}
.fifth_block ol li {
    margin-right: 100px;
    display: block;
}
@media (max-width: 767.98px) {
    .fifth_block ol li {
        margin: auto;
    }
}

.list {
    padding: 0 20px;
}
.list li {
    color: #86898f;
    margin-bottom: 10px;
}
.list li:hover {
    color: #4a659f;
}

.fourth_block {
    background: #94c6aa;
}
.fourth_block ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.fourth_block ol li {
    display: block;
    margin-right: 10px;
}
@media (max-width: 767.98px) {
    .fourth_block ol li {
        margin: auto 10px;
    }
}
@media (max-width: 575px) {
    .fourth_block ol {
        justify-content: center;
    }
}

body {
    background-color: #f1f1f1;
    color: #0f141e;
    font-size: 16px;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
}
body a {
    color: #91c684;
    text-decoration: none;
}
body a:hover {
    text-decoration: underline;
    color: #4a659f;
}
body a:active {
    color: #5f8955;
}
body a:visited {
    color: lightgray;
}

.container {
    max-width: 900px;
    margin: auto;
    padding-top: 30px;
}
@media (max-width: 580px) {
    .container {
        max-width: 400px;
        margin: auto;
        padding: 0;
    }
}
@media (min-width: 575.98px) {
    .container {
        max-width: 540px;
        margin: auto;
        padding: 0;
    }
}
@media (min-width: 767.98px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 991.98px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1199.98px) {
    .container {
        max-width: 1140px;
    }
}
